<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CS Hangman - Quiz Master</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hang.css') }}">
    <script src="{{ url_for('static', filename='scripts/cs-terms.js') }}" defer></script>
    <script src="{{ url_for('static', filename='scripts/hangmanScript.js') }}" defer></script>
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('profile') }}">Profile</a>
        <a href="{{ url_for('play') }}">Play</a>
        <a href="{{ url_for('hangman') }}">Hangman</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>

    <div class="game-modal">
        <div class="content">
            <img src="{{ url_for('static', filename='hang-man-images/victory.gif') }}" alt="result-gif" id="result-gif">
            <h4 id="result-title">Game Over!</h4>
            <p>The correct word was: <b id="final-word">algorithm</b></p>
            <button class="play-again">Play Again</button>
        </div>
    </div>

    <div class="container">
        <div class="hangman-box">
            <img src="{{ url_for('static', filename='hang-man-images/hangman-0.svg') }}" alt="hangman" id="hangman-img">
            <h1>CS Hangman</h1>
        </div>
        <div class="game-box">
            <ul class="word-display"></ul>
            <h4 class="hint-text">Hint: <b></b></h4>
            <h4 class="guesses-text">Incorrect guesses: <b>0 / 6</b></h4>
            <div class="keyboard"></div>
        </div>
    </div>

    <footer style="margin-top: 40px; text-align: center; font-size: 0.9rem; color: white;">
    <p>
        Hangman game code and images inspired by 
        <a href="https://www.codingnepalweb.com/build-hangman-game-html-javascript/" target="_blank" style="color: #ffcc00;">
            CodingNepal
        </a>. All credit goes to the original creator.
    </p>
    </footer>

</body>
</html>
